{% extends 'base.html.twig' %}

{% block title %}Nov치 코ablona{% endblock %}

{% set page = 'templates' %}

{% block body %}
    <h1>Nov치 코ablona</h1>
    {{ include('template/_form.html.twig') }}
{% endblock %}
